**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №12

Набор данных: movies.csv

Атрибуты:
1. название фильма
2. год выхода фильма
3. оценка
4. количество голосов
5. длительность фильма
6. жанр
7. производство

### 1.Чтение файла (набора данных)

In [68]:
import pandas as pd
import numpy as np
df = pd.read_csv('./movies.csv', sep=';')

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [69]:
df.head(20)

,title,release_year,score,number_of_votes,duration,main_genre,main_production
0,David Attenborough: A Life on Our Planet,2020.0,9.0,31180.0,83,documentary,GB
1,Inception,2010.0,8.8,2268288.0,148,scifi,GB
2,Forrest Gump,1994.0,8.8,1994599.0,142,drama,US
3,Anbe Sivam,2003.0,8.7,20595.0,160,comedy,IN
4,Bo Burnham: Inside,2021.0,8.7,44074.0,87,comedy,US
5,Saving Private Ryan,1998.0,8.6,1346020.0,169,drama,US
6,Django Unchained,2012.0,8.4,1472668.0,165,western,US
7,Dangal,2016.0,8.4,180247.0,161,action,IN
8,Bo Burnham: Make Happy,2016.0,8.4,14356.0,60,comedy,US
9,Louis C.K.: Hilarious,2010.0,8.4,11973.0,84,comedy,US
10,Dave Chappelle: Sticks & Stones,2019.0,8.4,25687.0,65,comedy,US
11,3 Idiots,2009.0,8.4,385782.0,170,comedy,IN
12,Black Friday,2004.0,8.4,20611.0,143,crime,IN
13,Super Deluxe,2019.0,8.4,13680.0,176,thriller,IN
14,Winter on Fire: Ukraine's Fight for Freedom,2015.0,8.3,17710.0,98,documentary,UA
15,Once Upon a Time in America,1984.0,8.3,342335.0,229,drama,US
16,Taxi Driver,1976.0,8.3,795222.0,113,crime,US
17,Like Stars on Earth,2007.0,8.3,188234.0,165,drama,IN
18,Bo Burnham: What.,2013.0,8.3,11488.0,60,comedy,US
19,Full Metal Jacket,1987.0,8.3,723306.0,116,drama,GB

2.2 Оценка данных с помощью метода info.

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            384 non-null    object
 1   release_year     387 non-null    float64
 2   score            386 non-null    float64
 3   number_of_votes  388 non-null    float64
 4   duration         389 non-null    int64
 5   main_genre       389 non-null    object
 6   main_production  388 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 21.4+ KB

2.3 Оценка данных с помощью метода describe.

In [71]:
df.describe(include=[np.number])

       release_year       score  number_of_votes    duration
count    387.000000  386.000000     3.880000e+02  389.000000
mean    2010.976744    7.512176     1.391523e+05  123.352185
std       10.805726    0.443870     2.365279e+05   28.304800
min     1954.000000    6.900000     1.013900e+04   28.000000
25%     2007.500000    7.100000     2.055375e+04  104.000000
50%     2014.000000    7.400000     4.606950e+04  122.000000
75%     2018.000000    7.800000     1.551585e+05  139.000000
max     2022.000000    9.000000     2.268288e+06  229.000000

`count` - число объектов

`mean` - среднее арифметическое

`std` - стандартное отклонение

`min, max` - минимальное и максимальное знаения

`25-75%` - квартили

 2.4 Оценка названий столбцов

In [72]:
df = df.rename(columns={'main_production': 'country'})
df.columns

Index(['title', 'release_year', 'score', 'number_of_votes', 'duration',
       'main_genre', 'country'],
      dtype='object')

---

**Столбец main_production был переименован в country для ясности.**

---

### 3. Проверка пропусков

In [73]:
# Проверить данные на наличие пропусков и устранить их, если они есть (пропуски необходимо либо удалить, либо заменить каким-то значением).
# print(df.isna().sum())

cc = df.isna()
rows_with_na = df[cc.any(axis=1)]  # строки, где есть хотя бы один NaN
print(rows_with_na)

     title  release_year  score  number_of_votes  duration main_genre country
121    NaN        2017.0    7.8          25593.0        94     comedy      US
141    NaN        2015.0    7.4          13703.0       101    musical      US
174    NaN           NaN    NaN              NaN       121      drama     NaN
187    NaN        2013.0    7.5          93314.0       128      drama      US
214  Crazy           NaN    NaN         507878.0       118    romance      US
226    NaN        1999.0    NaN         180532.0       127      drama      US

In [74]:
df.dropna(axis=0, subset=['score'], inplace=True)

cc = df.isna()
rows_with_na = df[cc.any(axis=1)]  # строки, где есть хотя бы один NaN
print(rows_with_na)

    title  release_year  score  number_of_votes  duration main_genre country
121   NaN        2017.0    7.8          25593.0        94     comedy      US
141   NaN        2015.0    7.4          13703.0       101    musical      US
187   NaN        2013.0    7.5          93314.0       128      drama      US


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [75]:
df[df.duplicated()]

,title,release_year,score,number_of_votes,duration,main_genre,country
387,The Bourne Ultimatum,2007.0,8.0,627009.0,115,thriller,DE
388,The Bourne Ultimatum,2007.0,8.0,627009.0,115,thriller,DE

In [76]:
df = df.drop_duplicates().reset_index(drop=True)

#### Проверка неявных дубликатов

In [77]:
print(df['main_genre'].unique())

['documentary' 'scifi' 'drama' 'comedy' 'western' 'action' 'crime'
 'thriller' 'war' 'fantasy' 'romance' 'horror' 'musical' 'animation'
 'sports' 'COMEDY' 'dramaa']

In [78]:
df['main_genre'] = df['main_genre'].replace('dramaa', 'drama')
df['main_genre'] = df['main_genre'].replace('COMEDY', 'comedy')

---

**Явные дубликаты были удалены, индексация датафрейма обновлена. Неявные дубликаты названий жанров были корректно переименованы.**


 ---

### 5. Провека типов данных

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            381 non-null    object
 1   release_year     384 non-null    float64
 2   score            384 non-null    float64
 3   number_of_votes  384 non-null    float64
 4   duration         384 non-null    int64
 5   main_genre       384 non-null    object
 6   country          384 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 21.1+ KB

In [80]:
df['release_year'] = df['release_year'].astype('int')
df['number_of_votes'] = df['number_of_votes'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            381 non-null    object
 1   release_year     384 non-null    int64
 2   score            384 non-null    float64
 3   number_of_votes  384 non-null    int64
 4   duration         384 non-null    int64
 5   main_genre       384 non-null    object
 6   country          384 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 21.1+ KB

---
**Приводим поля `release_year` и `number_of_votes` к типу int, так как поля в действительности содержат целочисленные значения**


 ---

### 6. Группировка данных

#### Задание 1

*`Группировка - год выхода и количество фильмов каждого жанра
(main_genre).`*

In [81]:
df.groupby(['release_year', 'main_genre'])['title'].count()

release_year  main_genre
1954          romance       1
1961          war           1
1964          drama         1
1966          western       1
1967          drama         1
                           ..
2021          thriller      2
2022          comedy        1
              crime         1
              drama         2
              romance       1
Name: title, Length: 165, dtype: int64

`Группировка позволяет увидеть, какие жанры были популярны в каждый период времени.`

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 2

*` Группировка - год выхода и количество фильмов каждого жанра
(main_genre). Создать датафрейм. Переименовать столбец с количеством в
“сountˮ. Отсортировать по убыванию столбца “countˮ.`*

In [82]:
ff = df.groupby(['release_year', 'main_genre'])['title'].count().reset_index(name='count')
ff.sort_values(by='count', ascending=False)

     release_year main_genre  count
140          2019      drama     13
122          2017      drama     13
103          2015      drama      9
148          2020      drama      9
156          2021      drama      9
..            ...        ...    ...
158          2021      scifi      1
162          2022      crime      1
161          2022     comedy      1
164          2022    romance      1
104          2015    musical      0

[165 rows x 3 columns]

**`Из результата группировки можно увидеть, какой жанр был наиболее востребован в определённое время. Так, наибольшее число фильмов, снятых в последних двух десятилетиях, относится к жанру драма.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

*`Сводная таблица (pivot_table) - средний рейтинг (score) фильмов по
жанрам. Отсортировать по убыванию рейтинга. Округлить до двух знаков.`*

In [83]:
df.pivot_table(index='main_genre', values='score', aggfunc='mean').round(2).sort_values(by='score', ascending=False)

             score
main_genre
war           7.80
scifi         7.77
documentary   7.76
action        7.70
comedy        7.61
western       7.56
fantasy       7.48
drama         7.48
crime         7.47
thriller      7.47
romance       7.40
sports        7.40
horror        7.35
animation     7.20
musical       7.10

**`Из результата данной сводной таблицы можно увидеть наиболее высоко оценённые жанры: военные, научная фантастика, документальные.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

*` Сводная таблица (pivot_table) - средний рейтинг (score) фильмов по
жанрам - строки и годам - столбцы. Отсортировать по возрастанию main_genre.`*

In [87]:
df.pivot_table(index='main_genre', columns='release_year', values='score', aggfunc='mean', fill_value=0).round(2).sort_values(by='main_genre', ascending=True)

release_year,1954,1961,1964,1966,1967,1971,1973,1975,1976,1979,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
main_genre,,,,,,,,,,,,,,,,,,,,,
action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,7.80,8.40,0.00,0.00,0.00,0.00,8.10,0.0
animation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,7.10,0.00,0.00,0.00,0.00,7.60,0.0
comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2,0.0,7.8,...,7.60,7.38,7.20,7.62,7.50,7.97,7.75,6.90,7.75,7.3
crime,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.3,0.0,...,0.00,7.80,0.00,7.27,7.20,0.00,8.20,7.40,7.15,7.2
documentary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,8.05,8.30,8.20,7.73,7.60,7.30,8.02,7.95,0.0
drama,0.0,0.0,7.8,0.0,7.7,0.0,0.0,0.0,0.0,0.0,...,7.64,7.54,7.28,7.18,7.27,7.26,7.47,7.21,7.21,7.5
fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,7.80,0.00,7.50,7.85,7.10,7.50,0.00,7.20,0.0
horror,0.0,0.0,0.0,0.0,0.0,0.0,8.1,0.0,0.0,0.0,...,0.00,0.00,0.00,7.00,0.00,7.60,7.00,0.00,0.00,0.0
musical,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.10,0.00,7.40,0.00,7.00,0.00,0.00,6.90,0.00,0.0
romance,7.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.90,0.00,0.00,7.70,7.45,7.20,7.20,0.00,0.00,6.9
scifi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,8.00,7.10,0.00,0.00,7.20,0.0
sports,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.40,0.0
thriller,0.0,0.0,0.0,0.0,0.0,7.7,0.0,0.0,0.0,0.0,...,7.68,7.75,7.73,7.28,7.54,7.36,7.42,7.20,7.55,0.0
war,0.0,7.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,8.20,7.70,0.00,0.00,0.00,0.00,0.00,0.00,0.0
western,0.0,0.0,0.0,7.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,7.80,7.60,0.00,7.30,0.00,0.00,0.00,0.0

12, 29

**`Из результата выполнения данного кода можно увидеть, фильмы какого жанра высоко или низко оценивались в каждый год.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод


***
В ходе выполнения лабораторной работы были получены навыки предварительной обработки данных. Устранены проблемы в этих данных.

Был проанализирован набор данных `movies.csv`, содержащий информацию о фильмах, их оценках, жанре, дате и стране производства. В процессе предобработки были произведены проверка и
устранение пропусков, выявлены явные и неявные дубликаты, которые также были устранены. Были проверены типы данных, некоторые данные были приведены в соответствующим типам.

Группировка - год выхода и количество фильмов каждого жанра позволила увидеть популярность конкретных жанров в каждый период времени.

Сводная таблица со средним рейтингом фильмов по жанрам позволила определить, фильмы каких жанров наиболее высоко оценены. 

Наконец, сводная таблица со средним рейтингом по жанрам и годам позволила увидеть, фильмы какого жанра высоко или низко оценивались в каждый год.
***

Вывод должен описывать результаты исследования: какой набор данных вы анализировали (предметная область), какие методы предобработки применили, какие выводы из группировок и сводных таблиц можно сделать (они могут повторять выводы выше) и т.п. Объём вывода, как правило не более 0.5-0.75 страницы А4, всё таки вывод должен быть конкретным (без теории и “воды”).

### Дополнительное задание

**`Задание 12`** Создать столбец “Категория длительности фильмаˮ (с помощью
категоризации). Выделить минимум 3 категории (короткий, длинный,
средний), фильтрацию для уровня длительности выбрать самостоятельно,
аргументировать выбор. Создать сводную таблицу: средний, минимальный
и медианный score по категории длительности и жанру.

In [ ]:
dur = pd.cut(df['duration'], 3, labels=['short', 'normal', 'long'])

table = df.pivot_table(index=[dur, 'main_genre'], values=['score'], aggfunc=['mean', 'min', 'median'], observed=False)
table

                          mean   min median
                         score score  score
duration main_genre
short    action       7.800000   7.8   7.80
         animation    7.000000   6.9   7.00
         comedy       7.800000   6.9   7.95
         crime        7.050000   6.9   7.05
         documentary  7.944444   7.1   7.90
         drama        7.366667   6.9   7.40
         fantasy      7.483333   7.2   7.50
         horror       7.200000   7.0   7.20
         musical      7.000000   6.9   7.00
         romance      7.300000   7.3   7.30
         scifi        7.550000   7.1   7.55
         thriller     7.225000   7.0   7.15
         war          8.200000   8.2   8.20
normal   action       7.675000   7.1   7.60
         animation    7.600000   7.6   7.60
         comedy       7.482857   6.9   7.40
         crime        7.510526   6.9   7.40
         documentary  7.609091   7.1   7.60
         drama        7.455932   6.9   7.40
         fantasy      7.425000   6.9   7.50
         horror       7.400000   7.0   7.30
         musical      7.200000   7.0   7.20
         romance      7.406667   6.9   7.40
         scifi        7.825000   7.2   7.65
         sports       7.400000   7.4   7.40
         thriller     7.447059   6.9   7.40
         war          7.600000   7.5   7.60
         western      7.340000   6.9   7.30
long     comedy       7.800000   6.9   8.10
         drama        7.645455   7.0   7.55
         fantasy      8.200000   8.2   8.20
         romance      7.400000   6.9   7.50
         scifi        8.000000   8.0   8.00
         thriller     7.950000   7.1   8.15
         western      8.100000   7.8   8.10

***`Задание 29`*** Создать столбец “Категория рейтингаˮ (score) (с помощью категоризации).
Выделить минимум 3 категории (высокий, низкий, средний), фильтрацию
для уровня рейтинга выбрать самостоятельно, аргументировать выбор.
Создать столбец “Категория длительности фильмаˮ (с помощью
категоризации). Выделить минимум 3 категории (короткий, длинный,
средний), фильтрацию для уровня длительности выбрать самостоятельно,
аргументировать выбор. Выполнить фильтрацию: выбрать только записи с
длинными фильмами + топ 7 жанров по популярности (количество записей)
плюс год выхода в определенном диапазоне (диапазон подобрать
самостоятельно, чтобы было достаточное количество записей) . Создать
сводные таблицы: средний, минимальный, максимальный и медианный
number_of_votes по категории рейтинга и жанру.

In [86]:
df['score_category'] = pd.cut(df['score'], 3, labels=['low', 'normal', 'high'])
df['duration_category'] = pd.cut(df['duration'], 3, labels=['short', 'normal', 'long'])

top_genres = df['main_genre'].value_counts().head(7).index.tolist()

filtered = df[
    (df['duration_category'] == 'long') &
    (df['main_genre'].isin(top_genres)) &
    (df['release_year'].between(2000, 2025))
]

pivot_mean = pd.pivot_table(df, values='number_of_votes', index='score_category', columns='main_genre', aggfunc='mean', observed=False, fill_value=0).round(2)
pivot_min = pd.pivot_table(df, values='number_of_votes', index='score_category', columns='main_genre', aggfunc='min', observed=False, fill_value=0).round(2)
pivot_max = pd.pivot_table(df, values='number_of_votes', index='score_category', columns='main_genre', aggfunc='mean', observed=False, fill_value=0).round(2)
pivot_median = pd.pivot_table(df, values='number_of_votes', index='score_category', columns='main_genre', aggfunc='mean', observed=False, fill_value=0).round(2)

print("\n" + "─" * 60)
display('СРЕДНИЙ number_of_votes', pivot_mean)
print("\n" + "─" * 60)
display('МИНИМАЛЬНЫЙ number_of_votes', pivot_min)
print("\n" + "─" * 60)
display('МАКСИМАЛЬНЫЙ number_of_votes', pivot_max)
print("\n" + "─" * 60)
display('МЕДИАННЫЙ number_of_votes', pivot_median)

────────────────────────────────────────────────────────────

'СРЕДНИЙ number_of_votes'

main_genre,action,animation,comedy,crime,documentary,drama,fantasy,horror,musical,romance,scifi,sports,thriller,war,western
score_category,,,,,,,,,,,,,,,
low,159759.5,113837.67,64133.91,133407.93,20959.33,83809.02,78451.46,195316.0,23559.0,39258.43,303594.67,21558.0,99040.29,50150.0,145460.6
normal,17711.5,0.00,107452.00,367196.00,28448.30,206039.62,270014.83,391942.0,0.0,61849.00,217866.33,0.0,254360.94,45766.0,570138.0
high,180247.0,0.00,83744.50,20611.00,31180.00,1670309.50,0.00,0.0,0.0,0.00,2268288.00,0.0,13680.00,0.0,1472668.0

────────────────────────────────────────────────────────────

'МИНИМАЛЬНЫЙ number_of_votes'

main_genre,action,animation,comedy,crime,documentary,drama,fantasy,horror,musical,romance,scifi,sports,thriller,war,western
score_category,,,,,,,,,,,,,,,
low,52338.0,14501.0,10415.0,10139.0,10544.0,10210.0,12278.0,32814.0,12825.0,10206.0,123377.0,21558.0,11241.0,50150.0,11329.0
normal,10742.0,0.0,10649.0,29819.0,13308.0,10903.0,10257.0,391942.0,0.0,12512.0,51938.0,0.0,24319.0,11403.0,570138.0
high,180247.0,0.0,11973.0,20611.0,31180.0,1346020.0,0.0,0.0,0.0,0.0,2268288.0,0.0,13680.0,0.0,1472668.0

────────────────────────────────────────────────────────────

'МАКСИМАЛЬНЫЙ number_of_votes'

main_genre,action,animation,comedy,crime,documentary,drama,fantasy,horror,musical,romance,scifi,sports,thriller,war,western
score_category,,,,,,,,,,,,,,,
low,159759.5,113837.67,64133.91,133407.93,20959.33,83809.02,78451.46,195316.0,23559.0,39258.43,303594.67,21558.0,99040.29,50150.0,145460.6
normal,17711.5,0.00,107452.00,367196.00,28448.30,206039.62,270014.83,391942.0,0.0,61849.00,217866.33,0.0,254360.94,45766.0,570138.0
high,180247.0,0.00,83744.50,20611.00,31180.00,1670309.50,0.00,0.0,0.0,0.00,2268288.00,0.0,13680.00,0.0,1472668.0

────────────────────────────────────────────────────────────

'МЕДИАННЫЙ number_of_votes'

main_genre,action,animation,comedy,crime,documentary,drama,fantasy,horror,musical,romance,scifi,sports,thriller,war,western
score_category,,,,,,,,,,,,,,,
low,159759.5,113837.67,64133.91,133407.93,20959.33,83809.02,78451.46,195316.0,23559.0,39258.43,303594.67,21558.0,99040.29,50150.0,145460.6
normal,17711.5,0.00,107452.00,367196.00,28448.30,206039.62,270014.83,391942.0,0.0,61849.00,217866.33,0.0,254360.94,45766.0,570138.0
high,180247.0,0.00,83744.50,20611.00,31180.00,1670309.50,0.00,0.0,0.0,0.00,2268288.00,0.0,13680.00,0.0,1472668.0